body{
    background-color: crimson;
}
.photo{
  margin-left: 200px;
  margin-top: 100px;
  border-radius: 10%;
}
.photo1{
    margin-left: 300px;
    margin-top: 100px;
     border-radius: 10%;
}
.photo2{
    margin-left: 300px;
    margin-top: 100px;
     border-radius: 10%;
}
.name{
    margin-left: 200px;
    margin-top: 40px;
    color: black;
    width: 500px;

}
.name1{
    margin-left: 800px;
     margin-top: -85px;
    color: black;
    width: 600px;

}
.name2{
    margin-left: 1425px;
    margin-top: -85px;
    color: black;
    width: 400px;

}

.audio{
    margin-left: 650px;
     margin-top: 200px;
    width: 600px;

}
.name4{
    margin-left: 700px;
    margin-top: -140px;
    color: black;
    width: 600px;

}
.link{
    margin-top: 100px;
    color: aqua;
    font-size:40px ;
}
